$color-alpha: (
	'100': #21121f,
	'200': #411e3c,
	'300': #63275c,
	'400': #892d7d,
	'500': #b130a1,
	'600': #d438c1,
	'700': #e355d1,
	'800': #ee75df,
	'900': #f798eb,
	'1000': #fcbef5,
	'1100': #ffe7fc,
);

$color-beta: (
	'100': #211218,
	'200': #411e2b,
	'300': #63273d,
	'400': #892d4f,
	'500': #b13060,
	'600': #d43873,
	'700': #e3558a,
	'800': #ee75a3,
	'900': #f798bc,
	'1000': #fcbed5,
	'1100': #ffe7f0,
);

$color-gamma: (
	'100': #211412,
	'200': #41221e,
	'300': #632e27,
	'400': #89382d,
	'500': #b14030,
	'600': #d44c38,
	'700': #e36755,
	'800': #ee8475,
	'900': #f7a498,
	'1000': #fcc6be,
	'1100': #ffeae7,
);