.c-header {
  padding: map-get($map: $whitespace, $key: 'md') map-get($map: $whitespace, $key: 'normal');
  display: flex;
  justify-content: space-between;
  background-color: map-get($map: $colors-alpha, $key: '000');

  &__numeric-inputs {
    display: flex;
    gap: map-get($map: $whitespace, $key: 'md');
  }

  &__buttons {
    display: flex;
    gap: map-get($map: $whitespace, $key: 'md');
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}